<script>
$(document).ready(function() {
/* 	$("btnSubmit").bind("click",function(){
        // your statements; 
        alert("clicked");
 }); */

     $("#btnSubmit").click(function(){
        //alert("button clicked");
         $.ajax({
          url: 'getSectionFields',
        /* data: ({deptNameId : $("select#deptNameId").val()}), works fine too*/
          data: ({secId : $("#btnSubmit").val()}),
          success: function(data) {
        	  
        	  var sectionIdContent = '';
        	  for(var i=0;i< data.length; i++){
        		  sectionIdContent  += data[i].fieldName; 
        	  }
        	  //$("#message").html(sectionIdContent);
        	 $("#secId").html(sectionIdContent);// 
    }  
});
     });  
       });  
</script>
<head></head>
